$mainBgColour: blue;
$mainColour: lightblue;
$mainBorder: black;

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.pizza-board {
    width: 786px;
    margin: auto;
    padding: 5px;
    background-color: white;
    border: solid 1px $mainBorder;
    border-radius: 15px;
    text-align: center;
}

.pizza-list-container {
    width: 800px;
    /*height: -webkit-fill-available;*/
    text-align: center;
}

.pizza-box {
    text-align: left;
    display: block;
    float: left;
    border: solid 1px $mainBorder;
    padding: 5px;
    margin: 2px;
    white-space: wrap;
    width: 245px;
    height: 340px;
}

.pizza-title {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px;
}

.pizza-desc {
    margin: 0px;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -9999;
}

.stretch {
    width:100%;
    height:100%;
}

.amg-strong {
    text-align: center;
    font-weight: 700;
    color: $mainColour;
    background: $mainBgColour;

    h1 {
        text-transform: uppercase;
    }
}

body {
    color: #42413b;
    font-size: 87.5%;
    line-height: 1.57;
    -webkit-font-smoothing: antialiased
}

h1,
h2,
h3 {
    color: #3E3D38;
    font-weight: 700;
    letter-spacing: -1px
}
h1 strong,
h2 strong,
h3 strong,
h4,
h4 strong,
h5,
h5 strong,
h6,
h6 strong {
    color: #3E3D38
}

a {
    color: #5b9300;
    text-decoration: none;
    -webkit-transition: color .1s linear
}
a:visited {
    color: #3f6700
}
a:hover {
    color: #7fcd00
}
a:active {
    color: #76be00
}